CalculatorWS/WebContent/wsdl/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://calculator.gontuseries.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://calculator.gontuseries.com" xmlns:intf="http://calculator.gontuseries.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://calculator.gontuseries.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addition">
    <complexType>
     <sequence>
      <element name="param1" type="xsd:int"/>
      <element name="param2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="additionResponse">
    <complexType>
     <sequence>
      <element name="additionReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="additionRequest">

      <wsdl:part element="impl:addition" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="additionResponse">

      <wsdl:part element="impl:additionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="addition">

         <wsdl:input message="impl:additionRequest" name="additionRequest">

       </wsdl:input>

         <wsdl:output message="impl:additionResponse" name="additionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="additionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="additionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:CalculatorSoapBinding" name="Calculator">

         <wsdlsoap:address location="http://localhost:8080/CalculatorWS/services/Calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
